{% extends "chatbot/base.html" %}
{% block content %} 


<div id = 'about'>


	<h1 class = 'about_title'>ABOUT N. D. I. A</h1>

	<p class = 'about_para'> Natural disaster informant and assistant (N.D.I.A) is project solution for the International Business Machines (I.B.M) call for code 2020 competition. This project
	was created to tackle the effects of climate change on the enviroment and earth as a whole. N.D.I.A provides news on current happenings in the world as regard natural 
	disasters, keeping every individual well informed. It provides tips and survival tactics for certain natural disasters. In advent of an area mildy affected
	by a natural disaster, N.D.I.A provides the option of locating the nearest hospitals, sending location to selected health organisations to provide the required aid to
	affected victims. With the help distinguised personnels N.D.I.A has the ability to warn unaware individuals to keep off affected areas to prevent added casualtites. A
	special feature of N.D.I.A is its ability to predict where a natural disaster is most likely to occur based on previous occurance, being a somewhat new concept more 
	research and ways for improvements will be done. All applications of  N.D.I.A and more are made available on  mobile applications(IOS and android) for easy accessablilty.
    Link to github repository can be found <a href="https://github.com/kene111/CFC2020"> HERE</a> </p>

	<h1 class = 'about_title'> MEET THE TEAM </h1>

	<P class = 'about_para'> Kenechi Chikeluba Ojukwu is a student of the university of lagos studying electrical electronics engineering. He is an aspiring web application and machine learning developer.
		
	</P>

	<P class = 'about_para'> David Chisomaga Akana is a student of the university of lagos studying electrical electronics engineering. He is a daddy yo in mobile application and machine learning development.
		
	</P>

 
</div>








{% endblock content %}